@model IEnumerable<VotingViews.Models.ContestantVote>

@{
    ViewData["Title"] = "ContestantVote";
}

<h1>ContestantVote</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <form>
                        <input type="radio" name="fav_language">
                        @Html.DisplayFor(modelItem => item.Vote)<br>
                    </form>
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
