


<nav id="sidebar">
    <div class="p-4 pt-5">

        <a href="#" class="img logo rounded-circle mb-5" ></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a class="nav-link" asp-controller="Admin" asp-action="DashBoard">Home</a>
            </li>
            <li>
                <a href="#Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Election</a>
                <ul class="collapse list-unstyled" id="Submenu">
                    <li>
                        <a class="nav-link text-light" asp-controller="Election" asp-action="Create"> Create Election</a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-controller="Election" asp-action="Index">List Of Elections</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Position</a>
                <ul class="collapse list-unstyled" id="menu">
                    <li>
                        <a class="nav-link text-light" asp-controller="Position" asp-action="Create"> Create Position</a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-controller="Position" asp-action="Index">List Of Positions</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Contestant</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a class="nav-link text-light" asp-controller="Contestant" asp-action="Index">List Of Contestants</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pagemenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Voter</a>
                <ul class="collapse list-unstyled" id="pagemenu">
                    <li>
                        <a class="nav-link text-light" asp-controller="Voter" asp-action="Index">List Of Voters</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>