


<nav id="sidebar">
    <div class="p-4 pt-5">

        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a class="nav-link" asp-controller="Voter" asp-action="DashBoard">Home</a>
            </li>
            <li class="active">
                <a class="nav-link" asp-controller="Voter" asp-action="Profile">Details</a>
            </li>
            <li class="active">
                <a class="nav-link" asp-controller="Admin" asp-action="Update">Update Your Profile</a>
            </li>
            
        </ul>
    </div>
</nav>