@model dynamic

@{
    ViewData["Title"] = "DashBoard";
    Layout = "_DashboardLayoutVoter";
}

<h1>DashBoard</h1>

<h5>Welcome! @User.Identity.Name</h5>
<br />

<p>Please input your Election Code that was sent to you below</p>

<form method="post">
    <input  type="text" name="code" placeholder="Text"  />
   <button type="submit" asp-controller="Voter"  asp-action="Election"  value="Search"></button>
</form>

