@model IEnumerable<VotingViews.Model.Entity.Position>

@{
    Layout = "_DashboardLayoutVoter";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var position in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => position.Name)
                    </td>
                    <td>
                        <a asp-action="VoterVote" asp-controller="Voter" asp-route-id="@position.Id">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
